@import "./animation.scss";
@import "./window.scss";

@mixin light {
  --theme: light;

  /* color */
  --white: white;
  --card-bg: #f5f5f5;
  --bg: rgb(255, 255, 255);
  --black: rgb(17, 49, 40);
  --gray: rgb(250, 250, 250);
  --primary: rgb(119, 119, 119);
  --bg-transparent: rgba(114, 105, 239, 0.08);
  --btn-background: linear-gradient(90deg, #2507CC 0%, #8E26D4 100%), #7851EC;
  --ground-bg: linear-gradient(90deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  --second: #f5f7fb;
  --prompt-content: #efefef;
  --prompt-border:1px solid rgb(206, 206, 206);
  --hover-color: #f3f3f3;
  --bar-color: rgba(0, 0, 0, 0.1);
  --pic-border:2px dashed rgb(140, 140, 140);
  --draw-img-border:2px dashed rgb(0, 0, 0);
  --theme-color: var(--gray);
  --moz-box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, .1);
  --bottom-bar-bg: rgba(228, 235, 229, 0.68);
  --linear-background: linear-gradient(to right, #eeeeee, rgba(224, 246, 224, 0.13));
  --left-sidebar-background: linear-gradient(to left, #eeeeee, rgba(224, 246, 224, 0.13));
  --btn-color: #7269ef;
  --btn-color-disabled: rgb(162, 154, 250);
  /* shadow */
  //--shadow: 50px 50px 100px 10px rgb(0, 0, 0, 0.1);
  //--card-shadow: 0px 2px 4px 0px rgb(0, 0, 0, 0.05);

  /* stroke */
  --border-in-light: 1px solid rgb(238, 238, 238);
}

@mixin dark {
  --theme: dark;
  --card-bg: rgba(24, 13, 0, 0.9);
  /* color */
  --white: rgb(33, 18, 0);
  --bg: var(--white);
  --black: rgb(255, 255, 255);
  --gray: rgb(21, 21, 21);
  --primary: #7269ef;
  --ground-bg: linear-gradient(0deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  --second: #303841;
  --prompt-content: #1c1c1c;
  --btn-background: linear-gradient(90deg, #2507CC 0%, #8E26D4 100%), #7851EC;
  --hover-color: #323232;
  --bg-transparent: rgba(38, 16, 0, 0.81);
  --bar-color: rgba(255, 255, 255, 0.1);
  --pic-border:2px dashed rgb(140, 140, 140);
  --prompt-border:1px solid rgb(72, 72, 72);
  --draw-img-border:1px dashed rgb(255, 255, 255);
  --bottom-bar-bg: rgba(31, 31, 31, 0.49);
  --left-sidebar-background:#323232 ;
  --border-in-light: 1px solid rgba(255, 255, 255, 0.192);
  --linear-background: linear-gradient(to right, #364149,#303841, #303841);
  --moz-box-shadow: 8px 8px 20px 0 rgba(55, 99, 170, .1);
  --theme-color: var(--gray);
  --btn-color: #7269ef;
  --btn-color-disabled: rgb(162, 154, 250);

  div:not(.no-dark):not(.no-filter) > svg {
    filter: invert(0.3);
  }
}

.light {
  @include light;
}

.dark {
  @include dark;
}

.mask {
  filter: invert(0.8);
}

.ant-slider-rail{
    background-color: rgb(115, 115, 115) !important;
}





:root {
  @include light;

  --window-width: 90vw;
  --window-height: 90vh;
  --sidebar-width: 300px;
  --window-content-width: calc(100% - var(--sidebar-width));
  --message-max-width: 80%;
  --full-height: 100%;
}


.ant-list-items{
  display: flex;
  flex-direction: column;
  .ant-list-item{
    display: flex;
    justify-content: center;
    align-items: center;
  }
}



@media only screen and (max-width: 600px) {
  //.infinite-scroll-component{
  //  display: flex !important;
  //  gap: 10px;
  //}

  :root {
    --window-width: 100vw;
    --window-height: var(--full-height);
    --sidebar-width: 100vw;
    --window-content-width: var(--window-width);
    --message-max-width: 100%;
  }

  .no-mobile {
    display: none;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    @include dark;
  }
}

@font-face {
  font-family: 'MaShanZheng';
  src: url('../../public/YRDZST Semibold.ttf') format('truetype');
}

html {
  height: var(--full-height);

  font-family: "Noto Sans", "SF Pro SC", "SF Pro Text", "SF Pro Icons",
  "PingFang SC", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
}

body {
  background-color: var(--gray);
  color: var(--black);
  margin: 0;
  padding: 0;
  height: var(--full-height);
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  touch-action: pan-x pan-y;
  overflow: hidden;

  @media only screen and (max-width: 600px) {
    background-color: var(--second);
  }
}

.css-17pwl6t{
  z-index: 9999 !important;
}

.css-qg5db2{
  background-image: linear-gradient(45deg, rgb(249, 249, 249) 25%, #000 25%, black 50%, rgb(255, 255, 255) 50%, rgb(255, 255, 255) 75%, #060606 75%, black) !important;
  //background-color: rgba(0, 0, 0, 0) !important;
  height: 50% !important;
}
.css-1rve4g2 ,.css-155wpyn{
  background: rgba(237, 242, 247, 0) !important;
}

.ant-progress-inner{
  background-color: var(--black) !important;
}

::-webkit-scrollbar {
  --bar-width: 5px;
  width: var(--bar-width);
  height: var(--bar-width);
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--bar-color);
  border-radius: 20px;
  background-clip: content-box;
  border: 1px solid transparent;
}

select {
  border: var(--border-in-light);
  //padding: 10px;
  border-radius: 10px;
  appearance: none;
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  text-align: center;
}

label {
  cursor: pointer;
}

input {
  text-align: center;
  font-family: inherit;
}

input[type="checkbox"] {
  cursor: pointer;
  background-color: var(--white);
  color: var(--black);
  appearance: none;
  border: var(--border-in-light);
  border-radius: 5px;
  height: 16px;
  width: 16px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

input[type="checkbox"]:checked::after {
  display: inline-block;
  width: 8px;
  height: 8px;
  background-color: var(--primary);
  content: " ";
  border-radius: 2px;
}

input[type="range"]:not(.zoom-range) {
  appearance: none;
  background-color: var(--white);
  color: var(--black);
}

@mixin thumb() {
  appearance: none;
  height: 8px;
  width: 20px;
  background-color: var(--primary);
  border-radius: 10px;
  cursor: pointer;
  transition: all ease 0.3s;
  margin-left: 5px;
  border: none;
}

input[type="range"]::-webkit-slider-thumb:not(.zoom-range) {
  @include thumb();
}

input[type="range"]::-moz-range-thumb:not(.zoom-range) {
  @include thumb();
}

input[type="range"]::-ms-thumb:not(.zoom-range) {
  @include thumb();
}

@mixin thumbHover() {
  transform: scaleY(1.2);
  width: 24px;
}

input[type="range"]::-webkit-slider-thumb:hover:not(.zoom-range) {
  @include thumbHover();
}

input[type="range"]::-moz-range-thumb:hover:not(.zoom-range)v {
  @include thumbHover();
}

input[type="range"]::-ms-thumb:hover:not(.zoom-range) {
  @include thumbHover();
}

input[type="number"],
input[type="text"],
input[type="password"] {
  appearance: none;
  border-radius: 10px;
  border: var(--border-in-light);
  min-height: 36px;
  box-sizing: border-box;
  background: var(--white);
  color: var(--black);
  padding: 0 10px;
  max-width: 100%;
  font-family: inherit;
}

div.math {
  overflow-x: auto;
}

.modal-mask {
  z-index: 9999;
  position: fixed;
  top: 0;
  left: 0;
  height: var(--full-height);
  width: 100vw;
  background-color: rgba($color: #fff, $alpha: 0.5);
  backdrop-filter: blur(3px);
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (max-width: 600px) {
    align-items: flex-end;
  }
}

.link {
  font-size: 12px;
  color: var(--primary);
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

.ant-list-item{
  border-bottom: var(--border-in-light) !important;
  margin:20px 0 !important;
  .list-item-points{
    color: var(--black) !important;
  }
  .ant-list-item-meta-description{
    color: var(--black) !important;
  }
  h4{
    color: var(--black) !important;
  }
}

pre {
  position: relative;

  &:hover .copy-code-button {
    pointer-events: all;
    transform: translateX(0px);
    opacity: 0.5;
  }

  .copy-code-button {
    position: absolute;
    right: 10px;
    top: 1em;
    cursor: pointer;
    padding: 0px 5px;
    background-color: var(--black);
    color: var(--white);
    border: var(--border-in-light);
    border-radius: 10px;
    transform: translateX(10px);
    pointer-events: none;
    opacity: 0;
    transition: all ease 0.3s;

    &:after {
      content: "copy";
    }

    &:hover {
      opacity: 1;
    }
  }
}

.clickable {
  cursor: pointer;

  &:hover {
    filter: brightness(0.9);
  }

  &:focus {
    filter: brightness(0.95);
  }
}

.error {
  width: 80%;
  border-radius: 20px;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  padding: 20px;
  overflow: auto;
  background-color: var(--white);
  color: var(--black);

  pre {
    overflow: auto;
  }
}

.password-input-container {
  max-width: 50%;
  display: flex;
  justify-content: flex-end;

  .password-eye {
    margin-right: 4px;
  }

  .password-input {
    min-width: 80%;
  }
}

.user-avatar {
  height: 30px;
  min-height: 30px;
  width: 30px;
  min-width: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: var(--border-in-light);
  box-shadow: var(--card-shadow);
  border-radius: 11px;
}

.one-line {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

