#主配置

NEXT_PUBLIC_SITE_SLOGEN=
NEXT_PUBLIC_SITE_SUB_SLOGEN=
NEXT_PUBLIC_APP_NAME=
NEXT_PUBLIC_APP_DESCRIPTION=
NEXT_PUBLIC_BACK_URL=http://localhost:3005
NEXT_PUBLIC_BACK_WS=
NEXT_PUBLIC_FRONT_URL=
NEXT_PUBLIC_BAIDU_TRANS_URL=
NEXT_PUBLIC_BAIDU_TRANS_APPID=
NEXT_PUBLIC_BAIDU_TRANS_KEY=
PROXY_URL=http://localhost:7890






# Your openai api key. (required)
; NEXT_PUBLIC_OPENAI_API_KEY=
NEXT_PUBLIC_OPENAI_API_KEY=***

; NEXT_PUBLIC_OPENAI_API_KEY=

NEXT_PUBLIC_BACKEND_API_TOKEN=
NEXT_PUBLIC_BACKEND_URL=

NEXT_PUBLIC_POINTS_CATEGORY_ID=
NEXT_PUBLIC_POINTS_COST_PRE_MESSAGE=
NEXT_PUBLIC_POINTS_COST_PRE_MESSAGE_GPT4=
NEXT_PUBLIC_POINTS_COST_PRE_DRAW=
MIDJOURNEY_PROXY_URL=

NEXT_PUBLIC_MONGODB_API=
NEXT_PUBLIC_MONGODB_DB=
NEXT_PUBLIC_MONGODB_USERNAME=
NEXT_PUBLIC_MONGODB_PASSWORD=7sA2XDcbPcebJ3RA
NEXT_PUBLIC_MIXPANEL_CLIENT_ID=bb9e38382844d57206471ee474f3c00b




CODE=your-password

# You can start service behind a proxy


# Override openai api request base url. (optional)
# Default: https://api.openai.com
# Examples: http://your-openai-proxy.com
BASE_URL=

# Specify OpenAI organization ID.(optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
OPENAI_ORG_ID=

# (optional)
# Default: Empty
# If you do not want users to input their own API key, set this value to 1.
HIDE_USER_API_KEY=

# (optional)
# Default: Empty
# If you do not want users to use GPT-4, set this value to 1.
DISABLE_GPT4=

# (optional)
# Default: Empty
# If you do not want users to query balance, set this value to 1.
HIDE_BALANCE_QUERY=

MJ_SERVER_ID=
MJ_CHANNEL_ID=
MJ_USER_TOKEN=